# Entornos virtuales
venv/
env/
ENV/

# Base de datos
*.sqlite3
db.sqlite3

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env